# Example of file for storing private and user specific environment variables, like keys or system paths
# Rename it to ".env" (.env is excluded from version control for security reasons)

# .env can be loaded with dotenv package's load_dotenv function in python script.
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

PROJECT_NAME="Diffusion-sampler"

# Wandb entity or neptune user name
ENTITY=???

# Depending on the logger you want to use, you should set the corresponding API key
WANDB_API_KEY=???

NEPTUNE_API_TOKEN=???